@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    background-color: #f44336;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 56px;
}

.container{
    margin-top: 30px;
}

.fa-info-circle {
    font-size: 48px;
    color: white;
}

.fa-info-circle:hover {
    color: black;
    cursor: pointer;
}

.cool-button {
    background-color: white;
    border: none;
    color: Black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cool-button:hover {
    background-color: #c7ea1b
}

.boxes{
    display: none;
}

.box{
    border: solid 1px white;
    height: 250px;
    width: 250px;
    /* Displaying none should be removed */
}

/*Question Mark Spin */
@keyframes spin {
    0% { transform: scale(0) rotate(0deg); opacity: 0; }
    50% { transform: scale(1) rotate(180deg); opacity: 1; }
    100% { transform: scale(2) rotate(360deg); opacity: 0; }
  }
  
  .question-mark {
    position: absolute;
    display: inline-block;
    animation: spin 4s linear infinite;
    transform-origin: center;
    opacity: 0;
  }
  
  .question-mark:before {
    content: "?";
    font-size: 56px;
  }
  
  .yt-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
  }